<div class="container py-5 px-3">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="https://previews.123rf.com/images/petraid/petraid1806/petraid180600030/117629004-couples-enjoying-the-beach-view-sunny-day-welcome-to-holiday.jpg" alt="People Enjoying Sunny Weather" width="200" height="200">
      </div>
      <div class="col-md-6 text-center">
        <h1 class="display-4 fw-bold">We love the weather!</h1>
        <p class="lead">We're all about bringing sunshine - or rain, or snow - to your day!</p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-md-6">
        <h2>Our Story</h2>
        <p>We believe everyone deserves to be prepared for the weather, no matter how cloudy or sunny! 
           This app was created to... (briefly explain your app's origin and goals).</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/53/37/small-people-on-large-laptop-team-brainstorming-vector-23685337.jpg" alt="Team Brainstorming on Laptops" class="rounded-circle" style="width: 200px; height: 200px;">
      </div>
    </div>
  </div>
  